<div class="education">
  <div class="table-responsive">
    <table class="table table-sm table-borderless" data-simple="true">
      {% assign sorted_education = site.data.education | sort: "start" | reverse %}
      {% for entry in sorted_education %}
        <tr>
          {% if entry.end == blank %}
          <th>{{ entry.start | date: "%b, %Y" }} ~ now</th>
          {% else %}
          <th>{{ entry.start | date: "%b, %Y" }} ~ {{ entry.end | date: "%b, %Y" }}</th>
          {% endif %}
          <td>
            <i>{{ entry.name }}</i>,
            {{ entry.location }}

            {% if entry.information != blank %}
              <br>
            {% endif %}
            {% for inf in entry.information %}
              <small>{{ inf.label }}:
                <i>{{ inf.description }}</i>
                {% for link in inf.links %}
                  <a href="{{ link.url }}" target="_blank">[{{ link.label }}]</a>
                {% endfor %}
              </small>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
