.education, .activities {
    th, td {
        white-space: nowrap;
    }

    td:last-child {
        width: 100%;
    }

    th {
        padding-right: 2em;
    }
}

.social > .contact-icons > a > i {
    font-size: 0.75em;
}
